body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  }
header{
    position: fixed;
    width: 100%;
    top: 0%;
}
nav{
    background-color: rgb(183, 183, 183);
}
nav ul a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}
nav ul a:hover{
    color: antiquewhite;
}
main{
    margin-top: 10%;
/*     animation: from-behind 4s ease; */
}
main h2{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
    color: rgb(149, 149, 218);
}
main a{
    color: black;
}
main a:hover{
    color: #1e10bd
}
.item{
    scroll-margin-top: 120px;
    margin-bottom: 25%;
    font-size: large;
}
#saludo p{

    font-size: 120%;
}
.h6{
    margin: 2%;
    text-align: center;
}
#info{
    margin-bottom: 30%;
}
#info b{
    color: rgb(149, 149, 218);
}
#info ul{
    margin-top: 15%;
}
#info ul li{
    margin: 4%;
}
.imgTecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cursosImgs{
    width: 230px;
}
.cursosImg{
    width: 90px;
}
#sobreMi p{
     padding: 3%;
}
.imgProyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.imgProyectos a{
    display: flex;
    justify-content: center;
}
.proyectoImg{
    width: 75%;
    transition: width 77%;
}
.proyectoImg:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 500px) {
    nav ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    main h2{
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .item{
        margin-bottom: 10%;
    }
    #info{
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 500px) {
    #info ul{
        margin-left: 12%;
    }
    #sobreMi p{
        padding-left: 10%;
        padding-right: 10%;
   }
   .cursosImgs{
    width: 300px;
    }
    .cursosImg{
        width: 160px;
    }
}

@media screen and (min-width: 800px) {
    #saludo h6{
        margin-left: 10%;
        margin-right: 10%;
    }
    .proyectoImg{
        width: 60%;
    }
    #saludo p{
        font-size: 110%;
    }
}
@media screen and (min-width: 1000px) {
    main{
        margin-top: 70px;
    }
    nav ul a {
        margin: 5%;
    }
    #saludo p{
        font-size: 90%;
        margin-left: 10%;
        margin-right: 10%;
    }
    main h2{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .item{
        margin-bottom: 5%;
        font-size: 120%;
    }
    #info ul li{
        margin: 3%;
    }
    .proyectoImg{
        width: 55%;
    }
    nav{
        font-size: 150%;
    }
}
@media screen and (min-width: 1300px) {

    .item{
        margin-bottom: 2%;
    }
    main h2{
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #info ul{
        margin-top: 5%;
    }
    .proyectoImg{
        width: 50%;
    }
}